body {
  background-color: #ffeaa7;
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  font-family: "Architects Daughter", cursive;
  text-align: center;
  font-size: 130%;
}

.container {
  width: 100%;
  height: auto;
  min-height: 500px;
  max-width: 500px;
  min-width: 700px;
  background: #f1f5f8;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}

.container.login{
  background-image: none;
  min-height: auto;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.heading h1 {
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #fdcb6e;
  font-size: 1.5rem;
}

h1.login {
  transform: none;
  padding: 0.2rem 1.2rem;
  border-radius: 10px;
  background-color: #fdcb6e;
  font-size: 1.5rem;
}

.classInput, .form input {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.7rem;
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius: 3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px #fdcb6e;
  font-family: "Architects Daughter", cursive;
  font-size: 1rem;
  color: hsla(260, 2%, 25%, 0.7);
  width: 70%;
  margin-bottom: 20px;
}

button {
  padding: 0;
  border: none;
  font-family: "Architects Daughter", cursive;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 5px;
  background-color: #ffeaa7;
  cursor: pointer;
}
button span:hover {
  background-color: yellowgreen;
}
button span {
  background: #f1f5f8;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%);
}

li {
  text-align: left;
  position: relative;
  padding: 0.5rem;
}

li button span {
  padding: 0.1rem 1rem;
  margin-right: 5px;
}

.green-label {
  background-color: yellowgreen;
}

.red-label {
  background-color: #d65860;
}

.right {
  margin-left: 75%;
}

.left {
  margin-right: 75%
}

.flex-row {
  flex-direction: row;
  display: flex;
}

.flex-row .left {
  margin-right: auto;
}

.flex-row .right {
  margin-left: auto;
}

button.info {
  cursor: default;
}

.overflow-text {
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
}

.gray {
  background-color: #f1f5f8;
}

.item-list {
  overflow: hidden;
  position: relative;
  -webkit-transition: max-height 0.218s ease-in;
  transition: max-height 0.218s ease-in;
  background-color: #ffde8a;
  /* background: #f1f5f8; */
  /* display: block; */
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%);
}

.item-list span, .container-mini span {
  display: block;
  font-size: medium;
}

li {
  padding: 0.7rem;
}

span.label {
  background-color: #dcffa7;
}

.item-list-edit {
  overflow: hidden;
  position: relative;
  -webkit-transition: max-height 0.218s ease-in;
  transition: max-height 0.218s ease-in;
  background-color:#f1f5f8;
  /* background: #f1f5f8; */
  /* display: block; */
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%);
}

.item-list-edit span {
  display: block;
  font-size: medium;
}

.classInputEdit {
  box-sizing: border-box;
  background-color: transparent;
  /* padding: 0.7rem; */
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius: 3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px #fdcb6e;
  font-family: "Architects Daughter", cursive;
  font-size: 1rem;
  color: hsla(260, 2%, 25%, 0.7);
  width: 90%;
  margin-bottom: 20px;
}

.container-mini {
  width: 100%;
  height: auto;
  min-height: 50px;
  max-width: 500px;
  min-width: 70px;
  background: #f1f5f8;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
  text-align: left;
}
